.container {
    -fx-border-color: black;
    -fx-border-width: 1px;
}

.tictactoe {
    -fx-alignment: center;
    -fx-border-color: black;
    -fx-border-width: 1px;
}

.cell {
    -fx-border-color: black;
    -fx-border-width: 1px;
}